@import url("https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css");

@mixin flex($align, $justify, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

body {
  @include flex(center, center);
  height: 100vh;
  margin: 0;
  background-color: #fff8ef;
}

.lection_wrap {
  @include flex(center, initial, column);
  position: relative;
  margin-top: 100px;
  width: 50%;
  gap: 100px;

  .letter {
    position: relative;
    display: block;
    width: 530px;
    height: 260px;
    margin-top: 140px;
    .modal {
      @include flex(center, center, column);
      position: absolute;
      gap: 20px;
      transform: scale(0.7);
      padding: 30px;
      box-sizing: border-box;
      width: 250px;
      height: fit-content;
      border-radius: 35% 35% 0 0;
      background-color: #f2e3d1;
      opacity: 0;
      animation: move 1.3s;
      animation-fill-mode: both;
      color: #150d0d;
      font-family: "Galmuri9", sans-serif;
      font-weight: 600;
      @keyframes move {
        30% {
          transform: scale(0.7) rotateY(180deg);
        }
        50% {
          transform: scale(0.7) rotateY(360deg);
        }
        70% {
          transform: scale(0.7) rotateY(540deg);
        }
        100% {
          opacity: 1;
          transform: scale(0.7) rotateY(720deg);
        }
      }
      &:before {
        content: "";
        position: absolute;
        top: 20px;
        width: 30px;
        height: 10px;
        background-color: #ffffff;
        border-radius: 5px;
      }

      .top_img {
        margin-top: 30px;
      }
      .bottom_img {
        z-index: -1;
      }

      .text_area {
        @include flex(initial, initial, column);
        text-align: center;
      }

      .sns_icon {
        display: flex;
        gap: 5px;
        > img {
          cursor: pointer;
        }
      }
    }
    .line {
      position: absolute;
      top: -78px;
    }

    > img {
      position: absolute;
      transition: 0.5s all;
      &.letter-back {
        // top: -10px;
        left: 0;
        z-index: 0;
      }
      &.letter-after {
        // top: 50px;
        left: 0;
        z-index: 7;
      }
      &.letter-cover {
        // top: 50px;
        left: 0;
        z-index: 0;
      }
    }
  }

  .lection-button {
    font-family: "Galmuri14", sans-serif;
    // font-weight: 600;

    width: 500px;
    height: 30px;
    background-color: #7a3b3bb1;
    border: 1px solid #ccc;
    cursor: pointer;
    bottom: 20px;
    font-size: 0.8rem;
    color: #ffffff;
  }
}

@media (max-width: 768px) {
  .lection_wrap {
    transform: scale(0.7);
  }
}
